<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/jquery-ui-1.10.3.full.min.css" th:href="@{/css/jquery-ui-1.10.3.full.min.css}"/>
    <link rel="stylesheet" href="../static/css/datepicker.css" th:href="@{/css/datepicker.css}"/>
    <link rel="stylesheet" href="../static/css/googleFamily.css" th:href="@{/css/googleFamily.css}"/>
    <link rel="stylesheet" href="../static/css/ui.jqgrid.css" th:href="@{/css/ui.jqgrid.css}"/>
    <link rel="stylesheet" href="../static/css/chosen.css" th:href="@{/css/chosen.css}"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" href="../static/css/ace-rtl.min.css" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" href="../static/css/ace-skins.min.css" th:href="@{/css/ace-skins.min.css}"/>
    <link href="../static/css/video-js.min.css" th:href="@{/css/video-js.min.css}" rel="stylesheet"/>
    <script src="../static/js/video.min.js" th:src="@{/js/video.min.js}"></script>

    <script src="../static/js/jquery-2.0.3.min.js" th:src="@{/js/jquery-2.0.3.min.js}"></script>
    <title>Spring Boot管理后台</title>
</head>
<body >
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h4>Spring Boot</h4>
            </div>
            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default" style="margin-bottom:10px;">
                                        <div class="panel-body">
                                            <form class="form-horizontal" role="form" onsubmit="return false;">

                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <label class="col-sm-1 control-label">标题：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="qryTitle"  data-original-title="Tooltip for name" class="form-control radius" placeholder="标题名" type="text" />
                                                    </div>
                                                    <label class="col-sm-1 control-label">视频类型：</label>
                                                    <div class="col-sm-3" style="width: 200px;">
                                                        <input id="qryType" data-original-title="Tooltip for name" class="form-control radius" placeholder="类型名" type="text"  />
                                                    </div>

                                                    <div class="col-sm-1">
                                                        <button id="querySysVideoBtn" class="btn btn-info btn-sm btn-label-left radius">
                                                            <i class="fa fa-search"></i>查询
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div style="margin-bottom: 10px;">
                                        <button  class="btn btn-success btn-sm radius" id="uploadVideoBtn">
                                            <i class="fa  fa-plus"></i> 上传视频
                                        </button>
                                       <!-- <button  class="btn btn-primary btn-sm radius" id="modifyLearnBtn">
                                            <i class="fa fa-pencil-square-o"></i> 修改
                                        </button>-->
                                        <button  class="btn btn-danger btn-sm radius" id="deleteVideoBtn">
                                            <i class="fa fa-trash-o fa-lg"></i> 删除
                                        </button>
                                    </div>
                                    <table id="jqGrid"></table>
                                    <div id="jqGridPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增窗口-->
<div id="uploadVideoModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增视频</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="uploadVideoForm" role="form" enctype="multipart/form-data" onsubmit="return false;">

                    <div class="form-group" style="display: none;">
                        <label class="col-sm-2 control-label">id</label>
                        <div class="col-sm-8">
                            <input id="id" type="text" class="form-control" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">视频名称</label>
                        <div class="col-sm-8">
                            <input id="title" name="title" type="text" class="form-control" placeholder="输入视频名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">视频选择</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="upload_file" name="upload_file"
                               style="display: none;" onchange="change();"/>
                            <input type="text" class="form-control" id="upload_file_tmp" name="upload_file_tmp"
                                   readonly="readonly" onclick="upload_file.click();" placeholder="点击选择视频"/>
                        </div>
                    </div>
                    <div class="progress" id="progress" hidden="hidden" data-percent="0%" style="width:80%;margin-left:2.5%"  >
                        <div class="progress-bar" id="progresswidth" style="width:0%;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" id="uplodVideoSaveBtn" class="btn btn-success radius">
                    <span><i class="icon-ok"></i></span> &nbsp;保&nbsp;&nbsp;存
                </button>
                <button data-bb-handler="cancel" type="button" id="cancelUploadVideoSave" class="btn btn-danger radius">取消</button>
            </div>
        </div>
    </div>
</div>

<!--视频播放modal-->
<div id="showVideoModal" class="bootbox modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content" style="width: 830px;height:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="videotitle">视频播放</h4>
            </div>
            <div class="modal-body">
                <div id="my-video"></div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>
<!--[if lt IE 9]>
<script src="../static/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
<script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
<![endif]-->
<script src="../static/js/jqGrid/jquery.jqGrid.min.js" th:src="@{/js/jqGrid/jquery.jqGrid.min.js}"></script>
<script src="../static/js/jqGrid/i18n/grid.locale-en.js" th:src="@{/js/jqGrid/i18n/grid.locale-en.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery-ui-1.10.3.custom.min.js" th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script src="../static/js/jquery.slimscroll.min.js" th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script src="../static/js/chosen.jquery.min.js" th:src="@{/js/chosen.jquery.min.js}"></script>
<script src="../static/js/ace-elements.min.js" th:src="@{/js/ace-elements.min.js}"></script>
<script src="../static/js/ace.min.js" th:src="@{/js/ace.min.js}"></script>
<script src="../static/js/md5.js" th:src="@{/js/md5.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script src="../static/js/jquery.messager.js" th:src="@{/js/jquery.messager.js}"></script>
<script src="../static/js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
<script src="../static/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>
<script th:src="@{/js/video-manager.js}"></script>

</body>
</html>