<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.libraryserver.customer.mapper.UserMapper">

    <resultMap type="com.example.libraryserver.customer.po.UserPo" id="UserMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="idcard" column="idcard" jdbcType="VARCHAR"/>
        <result property="mobileNum" column="mobile_num" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
        <result property="amatar" column="amatar" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        where id = #{id}
    </select>
    <!--查询单个-->
    <select id="getByMobileNum" resultMap="UserMap">
        select
          id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        where mobile_num = #{mobileNum}
    </select>

    <!--查询指定行数据-->
    <select id="getUserByAccount" resultMap="UserMap">
         select
          id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        where account = #{account}
    </select>

    <!--查询指定行数据-->
    <select id="getUserLikeAccount" resultMap="UserMap">
         select
          id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        where role=0 AND (nickname LIKE concat('%', #{searchText}, '%') OR account LIKE concat('%', #{searchText}, '%'))
    </select>

    <select id="getUserLikeAccountOrNickName" resultMap="UserMap">
        select
        id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        <where>
            <if test="nickname != null and nickname != ''">
                and nick_name LIKE concat('%', #{nickname}, '%')
            </if>
            <if test="useraccount != null and useraccount != ''">
                and account LIKE concat('%', #{useraccount}, '%')
            </if>
        </where>
    </select>

    <!--通过主键删除-->
    <delete id="deleteByIds">
        delete from library.users
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
        id, account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time
        from library.users
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="idcard != null and idcard != ''">
                and idcard = #{idcard}
            </if>
            <if test="mobileNum != null and mobileNum != ''">
                and mobile_num = #{mobileNum}
            </if>
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="amatar != null and amatar != ''">
                and amatar = #{amatar}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into library.users(account, name, password, gender, nick_name, email, idcard, mobile_num, role, amatar, remark, create_time)
        values (#{account}, #{name}, #{password}, #{gender}, #{nickName}, #{email}, #{idcard}, #{mobileNum}, #{role}, #{amatar}, #{remark}, now())
    </insert>

    <update id="updateByAccount">
        update library.users
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        where mobile_num = #{mobileNum}
    </update>
    <!--通过主键修改数据-->
    <update id="update">
        update library.users
        <set>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="idcard != null and idcard != ''">
                idcard = #{idcard},
            </if>
            <if test="mobileNum != null and mobileNum != ''">
                mobile_num = #{mobileNum},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="amatar != null and amatar != ''">
                amatar = #{amatar},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>